body {
  background-color: #94b8b8;
}
.App {
  text-align: center;
  padding-bottom: 60px;
}
#getShortUrlButton {
  padding: 20px;
}
#footer {
  background-color: #000;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
}
#copyright {
  color: #fff;
}
GitHubIcon {
  color: white;
}
